llama-index==0.12.37
llama-index-embeddings-azure-openai==0.3.5
llama-index-llms-azure-openai==0.3.2
chromadb==1.0.10
llama-index-vector-stores-chroma==0.4.1
aiofiles==23.2.1
fastapi==0.112.0
gradio==5.34.2
httpcore==1.0.2
openai==1.88.0
pypandoc_binary==1.15
Requests==2.31.0
tiktoken==0.8.0
uvicorn==0.23.2
